#split# abe16ce6faa45c1ef27487ec544340b8 prime/AA00
# alias definitions
alias ..='cd ..'
alias ...='cd ../..'
alias c='clear'
alias ?='dirs -l -v'
alias edit='$EDITOR'
alias e='emacsclient -nw '
alias h='history'
alias l='ls -F'
alias ll='l -l'
alias lr='ll -R'
alias now='date +%F; date -u; date +"%a %h %d %T"; date +%s'
alias p='$PAGER'
alias ic='tr [:lower:][:upper:] [:upper:][:lower:] <<< '
alias brewon='source ~/perl5/perlbrew/etc/bashrc'
alias dateme='ntpdate 0.pool.ntp.org'
alias sgg='/usr/bin/shutdown -h +1'
alias pacman='sudo /usr/bin/pacman'
alias pmnew='sudo /usr/bin/pacman -Sy; sudo /usr/bin/pacman -Qu'
alias pmup='sudo /usr/bin/pacman -Su'
alias su='sudo /bin/su -'
alias Cat='clear; cat '
alias gitbr='b=play-$(date +%Y.%j); git branch $b; git checkout $b'
alias sshFingerPrint='ssh-keygen -E md5 -lf ~/.ssh/id_rsa'
alias xme='ssh-agent startxfce4'
alias addkeys='ssh-add ~/.ssh/{github,id}_rsa'
alias vimh='vim +:help +:only'
#split# 67619ce838c648551a8d9e576522a139 prime/L
#help: L : provides ls support for hidden (dot) files
#help: usage : L [options] [dir]
function L () {
    declare -a args
    declare opts=lAd
    for x in $*; do
        case $x in
            -?)
                opts+=${x/-}
                ;;
            *)
                args+=("$x")
                ;;
        esac
    done
    [[ ${#args[@]} -gt 0 ]] || args+=(.)
    for x in "${args[@]}"; do
        ls -$opts "$x"/.??* 2> /dev/null
    done
}
#split# be61e73d3b4ec9cc583953850f6a43f5 prime/_ArgParser
#help: _ArgParser : assists in parsing command line args
function _ArgParser () { 
    declare path file partial dir;
    declare -a list;
    [[ -n COMP_LINE ]] && x=$2 || x=$1;
    partial=${x/\~/$HOME};
    file=${partial##*/};
    for dir in "${partial%/*}" "${DIRSTACK[@]}" ${CDPATH//:/ };
    do
        [[ ${#list[@]} -eq 0 ]] || break;
        while read -r path; do
            [[ -d $path ]] && list+=("$path");
        done < <(compgen -G "${dir:-.}/$file*" | sort);
    done;
    [[ ${#list[@]} -gt 0 ]] && printf "%s\n" "${list[@]}" | ulist
}

complete -o filenames -C '_ArgParser' cd
complete -o filenames -C '_ArgParser' stkdiff
#split# 7a3c5c00187f0bfd5e5bc22530fec612 prime/_FixList
#help: _FixList : some basic list operations:
#help: : -s sort
#help: : -e exists
#help: : -r reverse
#help: : -l resolve links
#help: : -c clear items
#help: : -u unique items
#help: : -S output a single string
function _FixList () {
    declare p opt
    declare -a nlist list opts
    for p in "$@"; do
        [[ $p =~ ^-.* ]] && opts+=($p) || list+=("$p")
    done
    if [[ ${#list[@]} -eq 0 ]]; then
        while read p; do
            list+=("$p")
        done < <(cat -- -)
    fi
    for opt in ${opts[@]}; do
        nlist=()
        case $opt in
            -s)
                while read -r p; do
                    nlist+=("$p")
                done < <(printf '%s\n' "${list[@]}" | sort)
                ;;
            -e)
                for p in "${list[@]}"; do
                    [[ -e "$p" ]] && nlist+=("$p") || continue
                done
                ;;
            -r)
                while read -r p; do
                    nlist+=("$p")
                done < <(printf '%s\n' "${list[@]}" | tac)
                ;;
            -l)
                for p in "${list[@]}"; do
                    [[ -L "$p" ]] && p=$(readlink -e "$p") || :
                    nlist+=("$p")
                done
                ;;
            -c)
                for p in "${list[@]:1}"; do
                    [[ $p =~ ${list[0]}.* ]] || nlist+=("$p")
                done
                ;;
            -u)
                for p in "${list[@]}"; do
                    [[ ${nlist[@]} =~ :$p ]] || nlist+=(":$p")
                done
                nlist=("${nlist[@]/#:}")
                ;;
            -S|*)
                declare IFS=${SEP:-:}$IFS
                echo "${list[*]}"
                return
                ;;
        esac
        list=("${nlist[@]}")
    done
    printf '%s\n' "${list[@]}"
}
#split# a7cd551cab06191186c5b7247b5f8991 prime/_Show
#help: _Show : complete function for the show function
function _Show () {
    declare x
    [[ -n $COMP_LINE ]] && x=$2 || x=$1
    compgen -v | grep -i "^$x"
}
#help: show : used to show variable values
#help: usage : show var
#help: : type values in lowercase and <tab> will uppercase if needed
function show () {
    declare x=$(declare -p $1 | awk '{print $2}')
    if [[ $x =~ [aA] ]]; then
        echo array $1:
        for x in $(eval "echo \${!$1[@]}"); do
            eval "echo $x = \${$1[$x]}"
        done
    else
        echo $1 = ${!1}
    fi
}
complete -C '_Show' show
#split# 02095038373b230891e455974468c473 prime/configEd
#help: configEd : configure the editor of your choice (emacs, vim)
#help: usage : configEd [emacs|vim]
function configEd () {
    case $1 in
        emacs)
            ps -f -C emacs | grep -q daemon || emacs --daemon
            export EDITOR=$(type -p emacsclient | head -n 1)
            export VISUAL=$EDITOR
            set -o emacs
            ;;
        vim)
            export EDITOR=$(type -p vim vi | head -n 1)
            export VISUAL=$EDITOR
            set -o vi
            ;;
    esac
}
#split# c791e77a406bc7342ea370396e9677d0 prime/extra
#help: extra : shortcut to set extra for the prompt
#help: usage : extra [color=]'text'
function extra () {
    stp extra=1="$*"
}
#split# 29bcfeb0c980debac0683604732b99c1 prime/hlp
#help: hlp : help for functions loaded
#help: usage : hlp function
#help: usage : hlp
function hlp () {
    declare flist=$MAINDIR/*.rc all=$(compgen -A function)
    if [[ $# -eq 1 ]]; then
        [[ $1 =~ .rc$ ]] && flist=$MAINDIR/$1 && shift
    fi
    if [[ $# -eq 1 ]]; then
        sed -nr "/^#help: $1 :/{:1;p;n;/^function/!b1}" $flist |
            cut -f2- -d: | column -n -s: -t
    else
        awk '/^function / {printf "#help: %s :\n",$2}' $flist |
            grep -f - -H $flist | sed -r 's|/.*/main/||;s|\s?:\s|:|g' |
            while read line; do
                f=$(echo -n $line | awk -F: '{print $3}')
                [[ $all =~ $f ]] && r=x || r=' '
                echo $line | sed "s|#help|$r|"
            done | column -s: -t | sort -k1,1 -k3,3 
    fi
}
#split# cdae9443e51c6d2a8587dd36ee5201be prime/load
#help: load : loads MAINDIR rc files
#help: usage : load function|name.rc [...]
function load () {
    declare x y 
    for x in $@; do
        [[ -s $MAINDIR/$x ]] && source $MAINDIR/$x && continue
        y=$(grep -l -w "^function $x " $MAINDIR/*.rc $MAINDIR/$x 2>/dev/null | sed -n '$p')
        [[ -n $y ]] || { echo skipping $x; continue; }
        echo loading $x from $y
        sed -nr "/^#help: $x :/{:1;p;n;/^#split#/q;b1}" $y > /tmp/$x
        . /tmp/$x
        rm /tmp/$x
    done
}
#split# d201bbc8a1225b91c6476611aa917159 prime/lsu
#help: lsu : a long listing of dirs moving up the dir path
#help: usage : lsu
function lsu () {
    declare -a np=(/ "${1:-$PWD}")
    while [[ -n ${np[-1]%/*} ]]; do
        np+=(${np[-1]%/*})
    done
    ls -ld "${np[@]}"
}
#split# 9974e6ff93578e3524bc000a001784d8 prime/mkwdir
#help: mkwdir : creates a new arg.nn dir based on arg
#help: usage : mkwdir (base)
#help: : default arg is the date
function mkwdir () {
    declare count dir pat date=$(date +%F | tr '-' '_')
    pat=${1:=$date}
    count=$(ls -d $pat.?? 2>/dev/null | wc -l)
    printf -v dir "%s.%02d" $pat $((1+count))
    mkdir -v $dir
}
#split# 458173085928a391779fabf74d1c34b0 prime/pop
#help: pop : simple wrapper for popd; pops given entry (default is current)
#help: usage : pop [n]
function pop () {
    popd ${1:++$1} > /dev/null
    dirs -l -v
}
#split# 3395ac3adac049d740423bb2182db180 prime/prep
#help: prep : used to give a boilerplate file for editing
#help: usage : prep file.(sh||fn|pl|pm|py)
#help: : based on extension;
#help: : sh for shell scripts
#help: : pl for perl scripts
#help: : py for python scripts
#help: : fn for bash functions
#help: : pm for perl module
function prep () {
    declare PREPDIR=${MAINDIR/main/support}/prep_files
    declare dest base file type
    source ${PREPDIR}/map
    for file in $@; do
        read base type < <(echo ${file/./ })
        [[ $type =~ fn ]] && dest=$base || dest=$file
        [[ -s $dest ]] && echo $dest exists: skipping && continue
        sed -e "s/zZz/$base/" $PREPDIR/${map[$type]} > $dest
        [[ -s $dest ]] || { echo sed failed; continue; }
        [[ $type =~ (sh|pl|py) ]] && chmod 755 $dest
        echo prepped $dest as ${map[$type]/_/ }
    done
}
#split# 031fc0e0b0ced44d842fbb34f5d8cfef prime/push
#help: push : simple wrapper for pushd
#help: usage : push (path)
function push () {
    if [[ -n $1 ]]; then
        if [[ -d $1 ]]; then
            pushd -n $1 &>/dev/null
        else
            read -p 'new dir: ' -e -i "$1"
            [[ -n $REPLY ]] || return 0
            mkdir -p "$REPLY"
            pushd -n "$REPLY" &>/dev/null
        fi
    fi
    pushd &>/dev/null
    dirs -l -v
}       
#split# 0321e5691e5da69c3d74a9077869b630 prime/spx
#help: spx : simple function to do aspell
#help: usage : spx word [word ...]
function spx () {
    echo $@ | aspell -a
}
#split# c6b14ba9770b817a111fbb7d0d5f076f prime/stp
#help: stp : utility to set prompt line characteristics
#help: usage : stp [args...]
#help: : args are: key[=0|1][=color][=text]
#help: : keys are:
#help: : num : history number at beginning
#help: : extra : extra field
#help: : tag : tag field
#help: : user : the users sid
#help: : host : hostname
#help: : spath : short path
#help: : lpath : full path
#help: : prompt : prompt symbol (# for root, $ for loader)
function stp () {
    declare x key
    declare flip color text
    declare colors=${!_ColorNum[*]}
    declare colorPat=${colors// /|}
    for x in "$@"; do
        key=${x%%=*}
        while read x; do
            case $x in 
                0|1)
                    _PromptShow[$key]=$x
                    ;;
                @($colorPat))
                    _PromptColor[$key]=$x
                    ;;
                +([[:digit:]]))
                    _PromptColor[$key]=$x
                    ;;
                    *|'')
                    [[ $key =~ tag|extra ]] && _PromptCfg[$key]=$x
                    ;;
            esac
        done < <(echo ${x#*=} | sed -nr 's/=/\n/g;p')
        unset text color flip key
    done
    _PromptShow[host]=1
    _PromptShow[prompt]=1
    PS1=
    for x in num extra tag user host spath lpath prompt; do
        [[ ${_PromptShow[$x]} = 0 ]] && continue
        [[ ${_PromptCfg[$x]} = '' ]] && continue
        if [[ ${_PromptColor[$x]} =~ [0-9] ]]; then
            num="38:5:${_PromptColor[$x]}"
        else
            color=${_PromptColor[$x]}
            num=${_ColorNum[$color]}
        fi
        PS1+=$'\[\e['${num}m$'\]'${_PromptCfg[$x]}' '
    done
    PS1+=$'\[\e[m\]'
}
#split# f8e9c9a97b5482722f5dd4710cff6349 prime/tag
#help: tag : shortcut to set tag for the prompt
#help: usage : tag [color=]'text'
function  tag () {
    stp tag=1="$*"
}
#split# 4d582327987ff79e75a5220645c2c872 prime/ulist
#help: ulist : finds, in order, the unique items in a list.
#help: usage : .. | ulist
#help: :
function ulist () {
    declare -a list
    while read; do
        [[ ${list[@]} =~ :$REPLY ]] || list+=(":$REPLY")
    done < <(cat -)
    printf "%s\n" "${list[@]/:}"
}
#split# e699c15095e6d8bf5681f808960bb192 prime/unload
#help: unload : unloads a function or an entire library
#help: usage : unload [function|library]
#help: :
function unload () {
    declare x all=$(compgen -A function)
    declare -a list dump
    for x in $@; do
        if [[ $x =~ .rc$ ]]; then
            list+=($(awk '/^function / {print $2}' $MAINDIR/$x))
        else
            list+=($x)
        fi
    done
    for x in ${list[@]}; do
        [[ "$all" =~ $x ]] && dump+=($x)
    done
    [[ ${#dump[@]} -gt 0 ]] && { printf "%s\n" ${dump[@]}; unset -f ${dump[@]}; }
}
