#split# prime.rc/AA00 d41d8cd98f00b204e9800998ecf8427e
# alias definitions
alias ..='cd ..'
alias ...='cd ../..'
alias c='clear'
alias ?='dirs -l -v'
alias edit='$EDITOR'
alias e='emacsclient -nw '
alias h='history'
alias l='ls -F'
alias ll='l -l'
alias lr='ll -R'
alias now='date +%F; date -u; date +"%a %h %d %T"; date +%s'
alias p='$PAGER'
alias ic='tr [:lower:][:upper:] [:upper:][:lower:] <<< '
alias brewon='source ~/perl5/perlbrew/etc/bashrc'
alias dateme='ntpdate 0.pool.ntp.org'
alias sgg='/usr/bin/shutdown -h +1'
alias pacman='sudo /usr/bin/pacman'
alias pmnew='sudo /usr/bin/pacman -Sy; sudo /usr/bin/pacman -Qu'
alias pmup='sudo /usr/bin/pacman -Su'
alias su='sudo /bin/su -'
alias Cat='clear; cat '
alias gitbr='b=play-$(date +%Y.%j); git branch $b; git checkout $b'
alias sshFingerPrint='ssh-keygen -E md5 -lf ~/.ssh/id_rsa'
alias xme='ssh-agent startxfce4'
alias addkeys='ssh-add ~/.ssh/{github,id}_rsa'
alias vimh='vim +:help +:only'
#split# prime.rc/ArgParser_ eb3591be81ee2a68a96185c3724e8a49
#help: ArgParser_ : assists in parsing command line args
function ArgParser_ () { 
    [[ $1 = -h ]] && { hmo ${FUNCNAME[0]}; return; }
    declare path file partial dir;
    declare -a list;
    [[ -n COMP_LINE ]] && x=$2 || x=$1;
    partial=${x/\~/$HOME};
    file=${partial##*/};
    for dir in "${partial%/*}" "${DIRSTACK[@]}" ${CDPATH//:/ };
    do
        [[ ${#list[@]} -eq 0 ]] || break;
        while read -r path; do
            [[ -d $path ]] && list+=("$path");
        done < <(compgen -G "${dir:-.}/$file*" | sort);
    done;
    [[ ${#list[@]} -gt 0 ]] && printf "%s\n" "${list[@]}" | ulist
}

complete -o filenames -C 'ArgParser_' cd
complete -o filenames -C 'ArgParser_' stkdiff
#split# prime.rc/FixList_ d66ab46ffadcd71fd5e24a17f3c6796c
#help: FixList_ : some basic list operations:
#help: : -s sort
#help: : -e exists
#help: : -r reverse
#help: : -l resolve links
#help: : -c clear items
#help: : -u unique items
#help: : -S output a single string
function FixList_ () {
    [[ $1 = -h ]] && { hmo ${FUNCNAME[0]}; return; }
    declare p opt
    declare -a nlist list opts
    for p in "$@"; do
        [[ $p =~ ^-.* ]] && opts+=($p) || list+=("$p")
    done
    if [[ ${#list[@]} -eq 0 ]]; then
        while read p; do
            list+=("$p")
        done < <(cat -- -)
    fi
    for opt in ${opts[@]}; do
        nlist=()
        case $opt in
            -s)
                while read -r p; do
                    nlist+=("$p")
                done < <(printf '%s\n' "${list[@]}" | sort)
                ;;
            -e)
                for p in "${list[@]}"; do
                    [[ -e "$p" ]] && nlist+=("$p") || continue
                done
                ;;
            -r)
                while read -r p; do
                    nlist+=("$p")
                done < <(printf '%s\n' "${list[@]}" | tac)
                ;;
            -l)
                for p in "${list[@]}"; do
                    [[ -L "$p" ]] && p=$(readlink -e "$p") || :
                    nlist+=("$p")
                done
                ;;
            -c)
                for p in "${list[@]:1}"; do
                    [[ $p =~ ${list[0]}.* ]] || nlist+=("$p")
                done
                ;;
            -u)
                for p in "${list[@]}"; do
                    [[ ${nlist[@]} =~ :$p ]] || nlist+=(":$p")
                done
                nlist=("${nlist[@]/#:}")
                ;;
            -S|*)
                declare IFS=${SEP:-:}$IFS
                echo "${list[*]}"
                return
                ;;
        esac
        list=("${nlist[@]}")
    done
    printf '%s\n' "${list[@]}"
}
#split# prime.rc/L c8eb8b665163befba16e307d6b4aa1c1
#help: L : provides ls support for hidden (dot) files
#help: usage : L [options] [dir]
function L () {
    [[ $1 = -h ]] && { hmo ${FUNCNAME[0]}; return; }
    declare -a args
    declare opts=lAd
    for x in $*; do
        case $x in
            -?)
                opts+=${x/-}
                ;;
            *)
                args+=("$x")
                ;;
        esac
    done
    [[ ${#args[@]} -gt 0 ]] || args+=(.)
    for x in "${args[@]}"; do
        ls -$opts "$x"/.??* 2> /dev/null
    done
}
#split# prime.rc/Show_ 3d17f8d9e1ecc4666481df8fa896b872
#help: Show_ : complete function for the show function
function Show_ () {
    [[ $1 = -h ]] && { hmo ${FUNCNAME[0]}; return; }
    declare x
    [[ -n $COMP_LINE ]] && x=$2 || x=$1
    compgen -v | grep -i "^$x"
}
#split# prime.rc/configEd c0233f5f155e645709472955db62da70
#help: configEd : configure the editor of your choice (emacs, vim)
#help: usage : configEd [emacs|vim]
function configEd () {
    [[ $1 = -h ]] && { hmo ${FUNCNAME[0]}; return; }
    case $1 in
        emacs)
            ps -f -C emacs | grep -q daemon || emacs --daemon
            export EDITOR=$(type -p emacsclient | head -n 1)
            export VISUAL=$EDITOR
            set -o emacs
            ;;
        vim)
            export EDITOR=$(type -p vim vi | head -n 1)
            export VISUAL=$EDITOR
            set -o vi
            ;;
    esac
}
#split# prime.rc/hmo 34f738232babfb66784b4a16e8aaa345
#help: hmo : help for functions
#help: usage : hmo [-hqa]
#help: usage : hmo [function|lib] ...
#help: : -h : help
#help: : -q : show function libs
#help: : -a : display all func/libs
function hmo () {
    declare -a list=($MAINDIR/*.rc)
    [[ $1 = -h ]] && { hmo ${FUNCNAME[0]}; return; }
    [[ $1 = -q ]] && { printf "%s\n" ${list[@]##*/}; return; }
    [[ $1 = -a ]] && set -- ${list[@]##*/}
    declare y x lib all=$(compgen -A function)
    for x in ${@:-prime.rc}; do
        if [[ -f $MAINDIR/${x%.rc}.rc ]]; then
            y=$MAINDIR/${x%.rc}.rc
            echo ${x%.rc}.rc
            awk '/^function / {printf "#help: %s :\n",$2}' $y |
                grep -E ': [[:alpha:]]+ ' |
                grep -f - $y | sed -r 's|/.*/main/||;s|\s?:\s|:|g' |
                while read line; do
                    f=$(echo -n $line | awk -F: '{print $2}')
                    [[ $all =~ $f ]] && r=' x ' || r='xxx'
                    echo $line | sed "s|#help|:$r|"
                done |
                sort -k3,3 -t: | sed -n 's/xxx/   /;p' |
                column -s: -t |
                sed -r 's/^/    /'
        else
            y=$(grep -l -E "^#help: $x" ${list[@]})
            echo ${y##*/}
            sed -nr "/^#help: $x/{:1;p;n;/^function/!b1}" $y |
                cut -f2- -d: |
                column -n -s: -t |
                sed -r 's/^/    /'
        fi
    done
}
#split# prime.rc/load b3cdaf7519ab14246d4736c417caa618
#help: load : loads MAINDIR rc files
#help: usage : load function|name.rc [...]
function load () {
    [[ $1 = -h ]] && { hmo ${FUNCNAME[0]}; return; }
    declare BASE
    [[ $1 = -d ]] && { BASE=~/Git/Env/main; shift; } || BASE=$MAINDIR
    declare x y
    for x in ${@:-prime.rc}; do
        y=$BASE/$x
        [[ -s $y ]] && { echo loading $y; source $y; continue; }
        y=$BASE/$x.rc
        [[ -s $y ]] && { echo loading $y; source $y; continue; }
        y=$(grep -l -w "^function $x " $(find $BASE -type f) | sed -n '$p')
        [[ -n $y ]] || { echo skipping $x; continue; }
        echo loading $x from $y
        sed -nr "/^#help: $x :/{:1;p;n;/^#split#/q;b1}" $y > /tmp/$x
        . /tmp/$x
        rm /tmp/$x
    done
}
#split# prime.rc/lsu a17d633b36e73caef25f763605da7029
#help: lsu : a long listing of dirs moving up the dir path
#help: usage : lsu
function lsu () {
    [[ $1 = -h ]] && { hmo ${FUNCNAME[0]}; return; }
    declare -a np=(/ "${1:-$PWD}")
    while [[ -n ${np[-1]%/*} ]]; do
        np+=(${np[-1]%/*})
    done
    ls -ld "${np[@]}"
}
#split# prime.rc/mkwdir 419590ce8fa9c1b1a69eaa7a442db42e
#help: mkwdir : creates a new arg.nn dir based on arg
#help: usage : mkwdir (base)
#help: : default arg is the date
function mkwdir () {
    [[ $1 = -h ]] && { hmo ${FUNCNAME[0]}; return; }
    declare count dir pat date=$(date +%F | tr '-' '_')
    pat=${1:=$date}
    count=$(ls -d $pat.?? 2>/dev/null | wc -l)
    printf -v dir "%s.%02d" $pat $((1+count))
    mkdir -v $dir
}
#split# prime.rc/pop 5fbc475295e87b6d4223dc6be7b7e094
#help: pop : simple wrapper for popd; pops given entry (default is current)
#help: usage : pop [n]
function pop () {
    [[ $1 = -h ]] && { hmo ${FUNCNAME[0]}; return; }
    popd ${1:++$1} > /dev/null
    dirs -l -v
}
#split# prime.rc/prep 7bc66690ec008738c37913e768c49cda
#help: prep : used to give a boilerplate file for editing
#help: usage : prep file.(sh||fn|pl|pm|py)
#help: : based on extension;
#help: : sh for shell scripts
#help: : pl for perl scripts
#help: : py for python scripts
#help: : fn for bash functions
#help: : pm for perl module
function prep () {
    [[ $1 = -h ]] && { hmo ${FUNCNAME[0]}; return; }
    declare PREPDIR=${MAINDIR/main/support}/prep_files
    declare dest base file type
    source ${PREPDIR}/map
    for file in $@; do
        read base type < <(echo ${file/./ })
        [[ $type =~ fn ]] && dest=$base || dest=$file
        [[ -s $dest ]] && echo $dest exists: skipping && continue
        sed -e "s/zZz/$base/" $PREPDIR/${map[$type]} > $dest
        [[ -s $dest ]] || { echo sed failed; continue; }
        [[ $type =~ (sh|pl|py) ]] && chmod 755 $dest
        echo prepped $dest as ${map[$type]/_/ }
    done
}
#split# prime.rc/push 5eeb54cb5fb992628225855e5b7ab9ea
#help: push : simple wrapper for pushd
#help: usage : push (path)
function push () {
    [[ $1 = -h ]] && { hmo ${FUNCNAME[0]}; return; }
    if [[ -n $1 ]]; then
        if [[ -d $1 ]]; then
            pushd -n $1 &>/dev/null
        else
            read -p 'new dir: ' -e -i "$1"
            [[ -n $REPLY ]] || return 0
            mkdir -p "$REPLY"
            pushd -n "$REPLY" &>/dev/null
        fi
    fi
    pushd &>/dev/null
    dirs -l -v
}       
#split# prime.rc/setextra cc70e439c18bd253b0be5f71ba29f75c
#help: setextra : shortcut to set extra for the prompt
#help: usage : setextra [color=]'text'
function setextra () {
    [[ $1 = -h ]] && { hmo ${FUNCNAME[0]}; return; }
    stp extra=1="$*"
}
#split# prime.rc/settag fa57ed945f63a79e8b0c3be34926125e
#help: settag : shortcut to set tag for the prompt
#help: usage : settag [color=]'text'
function  settag () {
    [[ $1 = -h ]] && { hmo ${FUNCNAME[0]}; return; }
    stp tag=1="$*"
}
#split# prime.rc/show 9301f62c7bcc48a49cb6281172606d93
#help: show : used to show variable values
#help: usage : show var
#help: : type values in lowercase and <tab> will uppercase if needed
function show () {
    [[ $1 = -h ]] && { hmo ${FUNCNAME[0]}; return; }
    declare x=$(declare -p $1 | awk '{print $2}')
    if [[ $x =~ [aA] ]]; then
        echo array $1:
        for x in $(eval "echo \${!$1[@]}"); do
            eval "echo $x = \${$1[$x]}"
        done
    else
        echo $1 = ${!1}
    fi
}
complete -C 'Show_' show
#split# prime.rc/spx 1f03697088e22f7ae4e2b2a905a8c5ff
#help: spx : simple function to do aspell
#help: usage : spx word [word ...]
function spx () {
    [[ $1 = -h ]] && { hmo ${FUNCNAME[0]}; return; }
    echo $@ | aspell -a
}
#split# prime.rc/stp 1bc6dbcf11ab0ae2ccc0b5cf7f6b7d42
#help: stp : utility to set prompt line characteristics
#help: usage : stp [args...]
#help: : args are: key[=0|1][=color][=text]
#help: : keys are:
#help: : num : history number at beginning
#help: : extra : extra field
#help: : tag : tag field
#help: : user : the users sid
#help: : host : hostname
#help: : spath : short path
#help: : lpath : full path
#help: : prompt : prompt symbol (# for root, $ for loader)
function stp () {
    [[ $1 = -h ]] && { hmo ${FUNCNAME[0]}; return; }
    declare x key
    declare flip color text
    declare colors=${!ColorNum_[*]}
    declare colorPat=${colors// /|}
    for x in "$@"; do
        key=${x%%=*}
        while read x; do
            case $x in 
                0|1)
                    PromptShow_[$key]=$x
                    ;;
                @($colorPat))
                    PromptColor_[$key]=$x
                    ;;
                +([[:digit:]]))
                    PromptColor_[$key]=$x
                    ;;
                    *|'')
                    [[ $key =~ tag|extra ]] && PromptCfg_[$key]=$x
                    ;;
            esac
        done < <(echo ${x#*=} | sed -nr 's/=/\n/g;p')
        unset text color flip key
    done
    PromptShow_[host]=1
    PromptShow_[prompt]=1
    PS1=
    for x in num extra tag user host spath lpath prompt; do
        [[ ${PromptShow_[$x]} = 0 ]] && continue
        [[ ${PromptCfg_[$x]} = '' ]] && continue
        if [[ ${PromptColor_[$x]} =~ [0-9] ]]; then
            num="38:5:${PromptColor_[$x]}"
        else
            color=${PromptColor_[$x]}
            num=${ColorNum_[$color]}
        fi
        PS1+=$'\[\e['${num}m$'\]'${PromptCfg_[$x]}' '
    done
    PS1+=$'\[\e[m\]'
}
#split# prime.rc/ulist aa61ffa5ac8f6c457e7fa69eaaca144a
#help: ulist : finds, in order, the unique items in a list.
#help: usage : .. | ulist
#help: :
function ulist () {
    [[ $1 = -h ]] && { hmo ${FUNCNAME[0]}; return; }
    declare -a list
    while read; do
        [[ ${list[@]} =~ :$REPLY ]] || list+=(":$REPLY")
    done < <(cat -)
    printf "%s\n" "${list[@]/:}"
}
#split# prime.rc/unload 35bed1477b47762245e67dd4c54146be
#help: unload : unloads a function or an entire library
#help: usage : unload [function|library]
#help: :
function unload () {
    [[ $1 = -h ]] && { hmo ${FUNCNAME[0]}; return; }
    declare x all=$(compgen -A function)
    declare -a list dump
    for x in $@; do
        if [[ $x =~ .rc$ ]]; then
            list+=($(awk '/^function / {print $2}' $MAINDIR/$x))
        else
            list+=($x)
        fi
    done
    for x in ${list[@]}; do
        [[ "$all" =~ $x ]] && dump+=($x)
    done
    [[ ${#dump[@]} -gt 0 ]] && { printf "%s\n" ${dump[@]}; unset -f ${dump[@]}; }
}
